/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

.form.login {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

.form.signup {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

header {
  font-size: 32px;
  font-weight: 600;
  color: #232836;
  text-align: center;
  margin-bottom: 40px;
}

form {
  margin-top: 30px;
}

.form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.form .field {
  position: relative;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  padding: 0 15px;
  background-color: #fff;
}

.field input {
  outline: none;
  border: 1px solid #cacaca;
  transition: border-color 0.3s ease;
}

.field input:focus {
  border-color: #0171d3;
  box-shadow: 0 0 4px rgba(1, 113, 211, 0.4);
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}

.field button {
  color: #fff;
  background-color: #2c7be5;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(1, 113, 211, 0.4);
}

.field button:hover {
  background-color: #2869c9;
}

.form-link {
  text-align: center;
  margin-top: 20px;
}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}

.form a {
  color: #2c7be5;
  text-decoration: none;
  font-weight: 500;
}

.form a:hover {
  text-decoration: underline;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}

.line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 100%;
  background-color: #f9f9f9;
  color: #8b8b8b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.media-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 6px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  transition: background-color 0.3s ease;
}

img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin-right: 5px;
}

a.google {
  background-color: #ea4335;
}

a.google span {
  font-weight: 500;
  opacity: 0.9;
  color: #fff;
}

@media screen and (max-width: 400px) {
  header {
    font-size: 24px;
  }
  
  form {
    padding: 20px 10px;
  }
}