.signup-form {
  margin-top: 50px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #333;
  padding: 10px;
  background-color: #7caeb1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form__header {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.signup-form__title {
  margin-top: 20px;
  font-size: 32px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.signup-form__body {
  width: 300px;
}

.signup-form-group {
  margin-bottom: 20px;
}

.signup-form-group label {
  font-size: 16px;
  color: #052425;
  margin-bottom: 15px;
}

.signup-form-group input {
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px; 
  border: none;
  border-bottom: 3px solid #ccc;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease;
}

.signup-form-group input:focus {
  border-color: #0376f1;
}

.signup-form__button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signup-form__button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.signup-form__google {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form__google p {
  font-size: 18px;
  color: #555;
}

.google-signup-button:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.google-signup-button {
  background-image: url('../images/google-logo-9832.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(1, 12, 11);
  width: 100px;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 20px;
}