.task-management-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #6efcfc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 90vh;
  position: relative;
}

.welcome-section {
  text-align: center;
  margin-bottom: 40px;
}

.welcome-message {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.5;
  font-family: 'Beirut', sans-serif;
}

.logout-button {
  background-color: #490a0a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 20px;
  right: 20px;
}

.logout-button:hover {
  background-color: #ce4c4c;
}

.button-section {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 40px;
}

.view-tasks-button,
.create-task-button {
  background-color: #05151d;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 90px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.view-tasks-button:hover,
.create-task-button:hover {
  background-color: #1e5c05;
}